<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start</title>
</head>
<body>
<div style="position: absolute; margin: auto; top: 0; right: 0; bottom: 0; left: 0; width: 205px; height: 180px; background-color: #f2f2f2;">
    <table>
        <tr>
            <td>
                <h2 style="text-align: center">Panel</h2>
            </td>
        </tr>
        <tr></tr>
        <form action="/login" method="post">
            <tr>
                <td><input type="submit" value="Login" style="width: 205px"/></td>
            </tr>
        </form>
        <form action="/register" method="post">
            <tr>
                <td><input type="submit" value="Register" style="width: 205px"/></td>
            </tr>
        </form>
    </table>
</div>
</body>
</html>