<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<div style="position: absolute; margin: auto; top: 0; right: 0; bottom: 0; left: 0; width: 205px; height: 180px; background-color: #f2f2f2;">
<table>
    <form action="#" th:action="@{/login}" th:object="${user}" method="post">
        <tr>
            <h2 style="text-align: center;">Register</h2>
        </tr>
        <tr></tr>
        <tr>
            <td>Name:</td>
        </tr>
        <tr>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
        </tr>
        <tr>
            <td>Password:</td>
        </tr>
        <tr>
            <td><input type="password" th:field="*{password}"/></td>
        </tr>
        <tr>
            <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</td>
        </tr>
        <tr></tr>
        <tr>
            <td><input type="submit" value="Register"/></td>
        </tr>
    </form>
</table>
</div>
</body>
</html>